/*exchange-rates widget*/
.exchangeRates {
	margin: 0 30px 0 0;
}
.appLinks, .weather, .exchangeRates, .lSwitch {
	display: inline-block;
	vertical-align: middle;
	/**vertical-align: auto;
	*zoom: 1;
	*display: inline;*/
}
.valuta {
	display: inline-block;
	vertical-align: middle;
	/**vertical-align: auto;
	*zoom: 1;
	*display: inline;*/
	color: inherit;
	margin: 0 15px 0 0;
	padding: 0 10px 0 0;
	position: relative;
}
.valuta span, .valuta strong {
	display: inline-block;
	vertical-align: middle;
	/**vertical-align: auto;
	*zoom: 1;
	*display: inline;*/
	margin: 0 2px;
}
.valuta.down::after {
	background: url(/images/assets/sDown.png) no-repeat center;
}
.valuta::after {
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	width: 6px;
	height: 10px;
	margin-top: -5px;
	content: "";
}

/*.exchangeRates {
	margin: 0 30px 0 0;
	display: inline-block;
	vertical-align: middle;
}*/

/*weather widget*/
.weather, .exchangeRates {
	display: inline-block;
	vertical-align: middle;
}
.weatherIco {
	display: inline-block;
	vertical-align: middle;
	/**vertical-align: auto;
	*zoom: 1;
	*display: inline;*/
	line-height: 40px;
	padding: 0 5px 0 0;
}
.weatherData {
	display: inline-block;
	vertical-align: middle;
	/**vertical-align: auto;
	*zoom: 1;
	*display: inline;*/
	color: inherit;
}
.wRegions {
	position: relative;
	z-index: 9;
}
.WRSelected {
	font-size: 13px;
	color: #bab2b2;
	cursor: pointer;
	white-space: nowrap;
}
.wRegions ul {
	/*display: none;*/
	position: absolute;
	top: 100%;
	left: -55px;
	margin: 28px 0 0;
	width: 378px;
	min-width: 100%;
	background: #fff;
	border: 1px solid #e8e9ea;
	padding: 5px 8px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.1);
	-o-box-shadow: 0 10px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 10px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.display-none {
	display: none;
}

.digest-widget input[type=date] {
  width: inherit;
  /*padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;*/
  border: none;
  border-bottom: 2px solid white;
  background-color: unset;
  color: transparent;
}

#locals .bootstrap-select.form-control .dropdown-toggle {
	background-color: transparent;
	color: white;
	border: none;
 	border-bottom: 1px solid white;
 	border-radius: unset!important;
}

#locals .bootstrap-select.form-control {
	background-color: transparent;
}

.digest-widget .bootstrap-select.form-control .dropdown-toggle {
	/*background-color: #e3342f;*/
	background-color: transparent;
	color: white;
	border: none;
 	border-bottom: 1px solid white;
 	border-radius: unset!important;
}

.digest-widget .bootstrap-select.form-control {
	background-color: transparent;
}

/*home page news*/
.home-banner {
	background-image: url('/images/covid-header-1440x363-1.jpg');
	background-position: center; /* Center the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	width: 100%;
	height: 120px;
}

ul li {
	list-style: none;
}

.homenews_feed {
    position: relative;
    max-height: 1240px;
    overflow: hidden;
}

.homenews_feed ul {
    position: relative;
    max-height: inherit;
}

.homenews_feed ul::before {
    content: '';
    width: 1px;
    background: #353a3d;
    height: 100%;
    position: absolute;
    top: 3px;
    left: 102px;
}

.homenews_feed ul li .homenews_feed_time {
    position: absolute;
    top: 0;
    left: 10px;
}

.visible-xs {
    display: none !important;
}

.homenews_feed ul li {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    padding-left: 90px;
    /*margin-top: 10px;
    margin-bottom: 25px;*/
    margin-left: 0;
    margin-right: 0;
}

.homenews_feed ul li .homenews_feed_ico.empty {
    width: 15px;
    height: 15px;
    left: 55px;
}

.homenews_feed ul li .homenews_feed_ico {
    border: 1px solid #353a3d;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    padding-top: 2px;
    z-index: 2;
    width: 25px;
    height: 25px;
}

.homenews_feed ul li a {
    color: #353a3d;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    text-decoration: none;
}

.homenews_feed ul li a:active, .homenews_feed ul li a:hover {
    color: #018aff !important;
}

/* svg-map */
#map path:hover {
	cursor: pointer;
	fill: grey;
}

/* homepage news feed btns */
.active-feed .homenews_feed_ico.empty {
	background-color: red;
}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Fading animation */
.mySlides {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.card:hover, .media:hover {
    transition: box-shadow .3s;
	box-shadow: 0 0 11px rgba(33,33,33,.5)!important;
}

/*search button*/
.search {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.search * {
    outline: none;
    box-sizing: border-box;
}
.search__wrapper {
    position: relative;
}
.search__field {
    width: 40px;
    /*height: 50px;*/
    color: transparent;
    background-color: transparent;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search__field:focus {
    background-color: #e9f1f4;
    border-bottom-color: #ccc;
    width: 40vw;
    color: #2b2b2b;
    cursor: default;
    border-radius: 25px;
}
.search__field:focus ~ .search__icon {
    /*background-color: transparent;*/
    cursor: pointer;
    pointer-events: auto;
}
.search__icon {
    color: #ffffff80;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 40px;
    /*height: 50px;*/
    font-size: 1.35em;
    text-align: center;
    border-color: transparent;
    /*border-radius: 50%;*/
    pointer-events: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
}
.search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.search__field:-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}
.search__field:-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}
.search__field::-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}
.search__field:-ms-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

